/*----------------------------------------------*/
/* Site Settings
/*----------------------------------------------*/
:root {
    --color-profile: srgb;
    --color-mode: light;
    --color-text: #000000;
    --color-background: rgba(255, 255, 255, 0.84);
    --text-background: rgba(255, 255, 255, 0.84);
    --myshadow: .1rem .1rem .1rem rgba(255, 255, 255, 0.76);

    --color-primary: #7CCCE5;
    --color-secondary: #B576AD;
    --color-accent: #E04644;


    --background1: linear-gradient(var(--color1), #000000);
    --background2: linear-gradient(var(--color2), #000000);
    --background3: linear-gradient(var(--color3), #000000);
    --background4: linear-gradient(var(--color4), #000000);
    --background5: linear-gradient(var(--color5), #000000);
    --background6: linear-gradient(var(--color6), #000000);

    --color1: #7CCCE5;
    --color2: #B576AD;
    --color3: #E04644;
    --color4: #B7D968;
    --color5: #FDE47F;
    --color6: #F9A553;
}

html {
    scroll-behavior: smooth;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.fade-in-section.active {
    opacity: 1;
    transform: translateY(0);
}

body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    font-family: 'Raleway', sans-serif;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: var(--color-background);*/
    transition: transform 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-size: contain;

}


.section h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: bolder;
    color: white;
    margin-outside: 20%;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    display: none;
}

.section h3 {
    font-size: 1.7em;
    margin-bottom: 20px;
}

.section h4 {
    font-size: 1em;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

strong {
    font-weight: 700;
}

/*!* Add styles for the section that's currently active *!*/
/*.section.active {*/
/*    transform: scale(1.1);*/
/*    background-color: #ffffff;*/
/*}*/

.container-mid {
    top: 50%;
    box-sizing: content-box;
    width: 90%;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}

.container-bottom {
    z-index: 100;
    font-size: 0.65em;
    position: absolute;
    top: 100%;
    width: 90%;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}

/*----------------------------------------------*/
/* Dark Theme
/*----------------------------------------------*/

/*----------------------------------------------*/
/* Light Theme
/*----------------------------------------------*/

/*----------------------------------------------*/
/* Dot Navigation
/*----------------------------------------------*/

.dot-navigation {
    position: fixed;
    right: 18px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.dot-navigation .dot {
    display: block;
    height: .75rem; /* Dot size */
    width: .75rem; /* Dot size */
    background-color: var(--color-text);
    border-radius: 50%;
    margin-bottom: .75rem; /* Space between dots */
    transition: background-color 0.3s;
}

.dot-navigation .dot.active,
.dot-navigation .dot:hover,
.dot-navigation .dot:focus {
    background-color: var(--color-background);
}

.dot-navigation .dot.active {
    background-color: var(--color4); /* Color change for active dot */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for color and size */
}

.scroll-container {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.section .container-fluid {
    /*height: 100%;*/
    /*width: 100%;*/
    box-sizing: content-box;
    width: 90%;
}

.source {
    font-size: 12px;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

/*.img-fluid {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*}*/

/*----------------------------------------------*/
/* Legend
/*----------------------------------------------*/

/*----------------------------------------------*/
/* Tool Tip
/*----------------------------------------------*/

/*----------------------------------------------*/
/* The Rise of Industrial Real Estate Development
/*----------------------------------------------*/

#the-rise-of-industrial-real-estate-development {
    background-image: url(../img/1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

/*----------------------------------------------*/
/* Market Overview
/*----------------------------------------------*/

#market-overview {
    background-color: var(--color-primary);
    background-image: url("../img/canada_leaf_location_map_icon.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}


/*----------------------------------------------*/
/* Driving Factors
/*----------------------------------------------*/

#driving-factors {
    background-color: var(--color-secondary);
    background-image: url("../img/macroeconomic.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Economic Growth and GDP
/*----------------------------------------------*/


#economic-growth-and-gdp {
    background-color: var(--color-accent);
}

/*----------------------------------------------*/
/* Overview of Sectors & Markets
/*----------------------------------------------*/


#overview-of-sectors-and-markets {
    background-color: var(--color-primary);
    background-image: url("../img/markets.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Real Estate Sectors & VECTOM
/*----------------------------------------------*/


#real-estate-sectors-and-vectom {
    background-color: var(--color-secondary);
}

/*----------------------------------------------*/
/* Population Growth
/*----------------------------------------------*/


#population-growth {
    background-color: var(--color-accent);
    background-image: url("../img/population.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Regional Variations
/*----------------------------------------------*/


#regional-variations {
    background-color: var(--color-primary);
}

/*----------------------------------------------*/
/* Performance Trends
/*----------------------------------------------*/


#performance-trends {
    background-color: var(--color-secondary);
    background-image: url("../img/performance.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Capital Value
/*----------------------------------------------*/


#capital-value {
    background-color: var(--color-accent);
}

/*----------------------------------------------*/
/* Market Leaders
/*----------------------------------------------*/


#market-leaders {
    background-color: var(--color-primary);
    background-image: url("../img/canada_city_famous_toronto_icon.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Capital Growth
/*----------------------------------------------*/


#capital-growth {
    background-color: var(--color-secondary);
}

/*----------------------------------------------*/
/* E-commerce Boom
/*----------------------------------------------*/


#e-commerce-boom {
    background-color: var(--color-accent);
    background-image: url("../img/online-store.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Industrial National Report
/*----------------------------------------------*/


#industrial-national-report {
    background-color: var(--color-primary);
    background-image: url("../img/data-center.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Industrial Graph
/*----------------------------------------------*/


#industrial-graph {
    background-color: var(--color-secondary);
}

/*----------------------------------------------*/
/* Technological Advancements
/*----------------------------------------------*/


#technological-advancements {
    background-color: var(--color-accent);
    background-image: url("../img/artificial-intelligence.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Industrial Low Availability
/*----------------------------------------------*/


#industrial-low-availability {
    background-color: var(--color-primary);
    background-image: url("../img/manufacturing.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Industrial Rent Growth
/*----------------------------------------------*/


#industrial-rent-growth {
    background-color: var(--color-secondary);
}

/* ------------------------------------*/
/* Industrial Opportunity
/*----------------------------------------------*/


#industrial-opportunity {
    background-color: var(--color-accent);
    background-image: url("../img/productivity.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Recommendations
/*----------------------------------------------*/


#recommendations {
    background-color: var(--color-primary);
    background-image: url("../img/efficacy.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}

/*----------------------------------------------*/
/* Acknowledgments
/*----------------------------------------------*/


#acknowledgments {
    background-color: var(--color-secondary);
    background-image: url("../img/email.png");
    background-size: 200px 200px;
    background-position: top 50px right 50%;
}